---

---

<html lang="en" class="h-full overflow-auto">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="p-0 m-0 h-full">

		<div class="w-full max-w-6xl mx-auto px-4 py-8 md:py-12">
			<h1 class="text-6xl md:text-8xl font-semibold font-serif tracking-tighter text-center mb-6 md:mb-12">Amic Invisible</h1>

			<div class="relative flex justify-center items-center my-8 md:mb-16 overflow-hidden rounded-[20px] object-cover">
				<img class="aspect-video" src="/public//christmas24-medium.jpg" alt="Christmas Photo" />
				<p class="absolute text-[8vw] font-serif leading-none font-semibold tracking-tighter text-white text-center z-10 mb-4 md:mb-12">Familia<br />GURG</p>
			</div>

			<div class="mx-auto max-w-4xl">
				<h2 class="text-3xl text-center">Introdueix el nom de la persona que t'ha tocat</h2>

				<div class="my-12 mx-auto max-w-lg">
					<form action="/" class="flex items-center justify-center gap-2" id="form">
						<input id="nameInput" name="name" value="marta" type="text" placeholder="Escriu el nom" class="bg-gray-200 border-none rounded-lg px-4 py-2 w-full flex-grow" />
						<button id="submit" type="submit" class="rounded-lg bg-red-600 text-white text-center py-2 px-4 text-base">Introdueix</button>
					</form>
				</div>

				
				<section id="presents" class="max-w-xl mx-auto block transition-opacity ease-in-out duration-700 opacity-0">
					<h1 class="text-3xl my-6 text-center"></h1>
					<ol class="list-decimal pl-8"></ol>
				</section>
				<div class="h-40"></div>
			</div>
		</div>
	</body>
</html>

<script>
	import { getPerson, type Person } from '../data/people';

	const form = document.getElementById('form') as HTMLFormElement;
	const presentsSection = document.getElementById('presents') as HTMLElement;

	function showPresents(person: Person) {
		presentsSection.classList.add('hidden');
		presentsSection.classList.add('opacity-0');
		const listElem = presentsSection.querySelector('ol') as HTMLOListElement;
		const headingElem = presentsSection.querySelector('h1') as HTMLHeadingElement;
		while(listElem.firstChild) { // clear old <li> elems
			listElem.removeChild(listElem.firstChild);
		}
		// build new
		person.presents.forEach(present => {
			const li = document.createElement('li');
			li.innerHTML = present;
			li.classList.add('my-3', 'text-2xl');
			listElem.appendChild(li);
		});
		// make heading
		headingElem.innerHTML = `Idees per <strong>${person.id}</strong> són:`;
		// show presents section
		
		presentsSection.classList.add('block');
		presentsSection.classList.remove('hidden');
		presentsSection.scrollIntoView({
			behavior: 'smooth'
		})
		setTimeout(() => {
			presentsSection.classList.remove('opacity-0');
		}, 500);
	}

	form?.addEventListener('submit', (event) => {
		event.preventDefault();

		const formData = new FormData(form);
		const searchName = formData.get('name');
		const person = getPerson(searchName?.toString() ?? '');

		if (person) {
			showPresents(person);
		} else {
			alert(`Perdona, no trobo la persona que busques! Introdueix un nom vàlid.`);
		}

	})
</script>